@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deluxe Audiobook And Movie List</h1>
    <a href="~/Books/Index">Book List</a>
</div>
